.contacts
	display: flex
	width: 33.55%
	flex-direction: column
	justify-content: space-between

.time
	font-size: 12px
.time__text
	font-weight: bold
.phone
	display: block
	font-size: 25px
	font-weight: bold
	text-decoration: none
	color: #000

