.contacts
	padding-left 24px
	display flex
	flex-direction column
	width 22.2%
	border-bottom 1px solid #d7d7d7
.time
	display flex
	justify-content space-between
	font-size 12px
.time__text
	font-weight bold
.phone
	margin-top 20px
	display block
	font-size 24px
	font-weight bold
	text-decoration none
	color #000




