.cart
	display flex
	width: 43.66%
.cart__list
	display: flex
	flex-direction: column
	justify-content: space-between

.cart__item
	display: flex
.cart__icon
	&_cart
		sprite($cart)
	&_star
		sprite($star)
	&_libra
		sprite($libra)

.cart__link
	font-size: 14px
	color: #000
	text-decoration: underline
.gallery
	display: flex
.gallery__item
	display: flex
	justify-content: center
	align-items: center
	width: 72px
	height: 72px
	border: 1px solid #d9d9d9
