.user
	display flex
	width: 15%
.user__link
	display block
	padding-y 8px
	padding-x 13px
	font-size 12px
	color black
	&:first-of-type
		position relative
		&:after
			position absolute
			content: ''
			width: 2px
			height: 11px
			top: 9px
			right: 0
			background-color: #000

