.user
	display flex
	width 15%
.user__link
	padding-x 13px
	padding-y 8px
	display block
	font-size 12px
	color black
	&:first-of-type
		position relative
		&:after
			position absolute
			top 9px
			right 0
			width 2px
			height 11px
			content ''
			background-color #000

