.city
	display flex
	width: 15.6%
	justify-content space-between
	padding-y 5px
	font-size 12px
.city__select
	position relative
	text-decoration none
	border-bottom 1px dotteds #000000
	color: #000000
	&:before
		position absolute
		content ''
		width 0
		height: 0
		left -11px
		top 2px
		border-style: solid
		border-width: 4.5px 0 4.5px 8px
		border-color: transparent transparent transparent #000000
