include ../container/container
include ../row/row
include ../col/col
include ../menu/menu
include ../user/user
include ../logo/logo
include ../menu/menu
include ../banner/banner
include ../cart/cart
include ../contacts/contacts
include ../store-name/store-name
include ../city/city
include ../menu-tools/menu-tools

mixin header()
	+b.HEADER.header&attributes(attributes)
		+container()
			+row(class="row--top")
				+col(class="col--left")
					+logo()
				+col(class="col--right")
					+row(class="row--menu")
						+menu()
						+user()
					+row(class="row--middle")
						+banner()
						+cart()
						+contacts()

			+row(class="row--bottom")
				+store-name()
				+city()

			+row(class="row--menu-tools")
				+menu-tools()
