mixin menu()
	+b.UL.menu&attributes(attributes)
		+e.LI.item
			+e.A.link(href="#") Каталог инструментов
		+e.LI.item
			+e.A.link(href="#") Все для сада
		+e.LI.item
			+e.A.link(href="#") Ручной инструмент
		+e.LI.item
			+e.A.link(href="#") Электрика
		+e.LI.item
			+e.A.link(href="#") Доставка
		+e.LI.item
			+e.A.link(href="#") Оплата
		+e.LI.item
			+e.A.link(href="#") О нас
