mixin menu-tools()
	+b.NAV.menu-tools&attributes(attributes)
		+e.A.link._search(href="#")
			+e.DIV.search-btn
				+e.I.icon._search
			+e.DIV.search-fild
		+e.group
			+e.A.link._active(href="#") Перфораторы
			+e.A.link(href="#") Дрели
			+e.A.link(href="#") Шлифмашины
			+e.A.link(href="#") Пистолеты
			+e.A.link(href="#") Электропилы
			+e.A.link(href="#") Наборы инструментов
			+e.A.link._accessories(href="#") Аксессуары
		+e.A.link._sale(href="#") Распродажа
