mixin menu-tools()
	+b.UL.menu-tools&attributes(attributes)
		+e.LI.item
			+e.A.link(href="#") Поиск
		+e.LI.item
			+e.A.link(href="#") Перфораторы
		+e.LI.item
			+e.A.link(href="#") Дрели
		+e.LI.item
			+e.A.link(href="#") Шлифмашины
		+e.LI.item
			+e.A.link(href="#") Пистолеты
		+e.LI.item
			+e.A.link(href="#") Электропилы
		+e.LI.item
			+e.A.link(href="#") Наборы инструментов
		+e.LI.item
			+e.A.link(href="#") Аксессуары
		+e.LI.item
			+e.A.link(href="#") Распродажа
