.row
	&--top
		display flex
		justify-content: space-between
	&--menu
		display flex
		justify-content space-between
		border-bottom: 1px solid #d7d7d7
	&--middle
		display flex
		justify-content space-between
		padding-top 19px
	&--bottom
		display flex
		justify-content space-between
	&--menu-tools
		padding-y 20px
